


# Note this file holds user default settings. If config changes are made during a session, those are automatically reloaded on the next session. To prevent this load, remove or rename .vibedir/config.json

# The mode determines how vibedir is used:
# CLIPBOARD: prompts are shared with an LLM via copy/paste
# API: interactions with an LLM are handled via API. 
# Note LLM tag must be defined to use API mode.
MODE: [CLIPBOARD|API] # if API then LLM tag must be defined

# If using API mode, the following LLM information must be defined (this will be fleshed out as apibump is developed)
# The plan is to require an LLM key and an APIBUMP key to be defined in .netrc/other
LLM:
  model: grok-4
  endpoint: https://api.x.ai/v1

# If using CLIPBOARD mode, set the max number of characters per file (to work around LLM UI file truncation)
CLIPBOARD_MAX_CHARS_PER_FILE: 40000
  
# The LLM can be asked to provide a commit message for each set of changes. The following configures how that will be used. If ASK_LLM_FOR_COMMIT_MESSAGE is set to false, then we will not ask for commit messages from the LLM (token savings) but the user will need to generate an appropriate commit message for each set of changes.
ASK_LLM_FOR_COMMIT_MESSAGE: true # [true|false]

# If auto commit is set to:
#   previous: a commit will be automatically performed for the previous code changes on a prompt copy call or before new code changes are made
#   latest: a commit will be automatically performed after each successful set of code changes from the LLM (via applydir)
#   off: do not automatically perform commits
AUTO_COMMIT: previous # [previous|latest|off]
COMMIT_COMMAND: git commit -a -m {{ commit_message }} # commit_message will be filled with the working commit message
REVERT_CHANGES_COMMAND: git checkout -- . && git reset
LAST_COMMIT_MESSAGE_COMMAND: git log -n 1 | egrep -v '^[A-z]|^\s*$'
CHANGES_EXIST_COMMAND: git diff --quiet HEAD
CHANGES_EXIST_RESULT: EXIT_CODE

# A diff can be run from the menu. This (and all commands) will be run from the base directory. If AUTO_DIFF is true, then a diff will be automatically run after each set of changes is successfully applied to the code base.
AUTO_DIFF: false # [true|false]
DIFF_COMMAND: git diff

# Testing can be done automatically after each set of changes is successfully applied to the code base.
AUTO_TEST: false # [true|false]
TEST_COMMAND: pytest tests
# If EXIT_CODE is used, will use exit code to determine success (e.g. result from subprocess, which is equivalent of $? in Linux)
TEST_SUCCESS: EXIT_CODE
INCLUDE_TEST_RESULTS: false # [true|false]

# Linting can be done automatically after each set of changes is successfully applied to the code base
AUTO_LINT: false # [true|false]
LINT_COMMAND: ruff check {{ base_directory }}
LINT_SUCCESS: EXIT_CODE
INCLUDE_LINT_RESULTS: false # [true|false]

# An additional command can be automatically run after changes are successfully applied to the code base. This will be called CMD results in the CLI.
AUTO_CMD: false # [true|false]
CMD_COMMAND: ruff format {{ base_directory }}
INCLUDE_CMD_RESULTS: false # [true|false]

# Choose a standard level for logging 
LOGGING:
  LEVEL: "INFO" # [CRITICAL|ERROR|WARNING|INFO|DEBUG]

linting:
  python:
    extensions: [".py"]
    command: "pylint --disable=all --enable=undefined-variable,syntax-error {file}"
  markdown:
    extensions: [".md", ".markdown"]
    command: "markdownlint {file}"